@model WebFund.Fund

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Fund</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangeInDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangeInDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangeInWeek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangeInWeek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangeInMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangeInMonth)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
